<div class="gallery">
  <!-- Main Image -->
  <div class="gallery__main">
    <img [src]="mainImage" [alt]="productName" class="gallery__main-img" />

    <button
      class="gallery__nav gallery__nav--prev"
      (click)="prevImage()"
      *ngIf="images.length > 1">
      ‹
    </button>
    <button
      class="gallery__nav gallery__nav--next"
      (click)="nextImage()"
      *ngIf="images.length > 1">
      ›
    </button>
  </div>

  <!-- Thumbnails -->
  <div class="gallery__thumbnails" *ngIf="images.length > 1">
    <button
      *ngFor="let image of images; let i = index"
      class="gallery__thumb"
      [class.gallery__thumb--active]="i === selectedImageIndex"
      (click)="selectImage(i)">
      <img [src]="image" [alt]="productName + ' - Hình ' + (i + 1)" />
    </button>
  </div>
</div>